# Applied Data Science Capstone Week 3

### Part I

In [2]:
import pandas as pd

In [33]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Note: you may need to restart the kernel to use updated packages.

### download the data, make sure the dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [3]:
url  = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
data = pd.read_html(url,header=0)

In [5]:
df = data[0:1]

In [6]:
df = pd.DataFrame(df[0])

In [7]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

### drop value not assigned for Borough

In [8]:
df=df[~df['Borough'].isin(['Not assigned'])]

In [9]:
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [10]:
df=df.sort_values(by=['Postcode','Borough','Neighbourhood'], ascending=[1,1,1]).reset_index(drop=True)

In [11]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [12]:
df.loc[df['Neighbourhood'] == 'Not assigned', ['Neighbourhood']] = df['Borough']

In [59]:
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [14]:
df.shape

(103, 3)

In [15]:
export = df.to_csv (r'C:\Users\linshilecten\Desktop\export_dataframe.csv', index = None, header=True)

In [17]:
df.to_csv('export.csv',index=False)

# Part II

In [43]:
PostalCodes = pd.read_csv('export.csv').set_index("Postcode")

In [44]:
PostalCodes

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Malvern, Rouge
M1C       Scarborough             Highland Creek, Port Union, Rouge Hill
M1E       Scarborough                  Guildwood, Morningside, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
M9V         Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [56]:
coord = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' coord
coord_df = pd.read_csv(coord).set_index("Postal Code")

In [57]:
coord_df

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

In [61]:
df_coord = df.join(coord)

AttributeError: 'builtin_function_or_method' object has no attribute 'is_unique'

In [ ]:
geocsv_data.head()